<%- include("../partials/header") -%>

<div class="container">
    <h1>Stories for the <strong><%= contest.title %></strong> contest here!</h1>
    <% if (stories.length > 0) { %>
    <div class="row">
        <% stories.forEach(function(story) { %>
        <div class="col-12 col-lg-6 mb-2">
            <% story.judgingMode = user && user.isJudge && contest.status == "judging" %>
            <%- include("story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
        <p>
            There aren't any stories for this contest yet.
            <% if (contest.status == "open") { %>
            Would you like to <a href="/contests/<%= contest.tag %>/stories/new">create one?</a>
            <% } %>
        </p>
    <% } %>
</div>

<%- include("../partials/footer") -%>