<%- include("../partials/header") -%>

<div class="container">
    <h1 class="display-4 text-center">Stories for the <strong><%= contest.title %></strong> contest here!</h1>
    <% if (stories.length > 0) { %>
    <div class="row">
        <% stories.forEach(function(story) { %>
        <div class="col-12 col-lg-6 mb-2">
            <%_ story.judgingMode = isJudge && contest.status == "judging" _%>
            <% if (contest.status == "closed") { %>
            <% if (story._id.equals(contest.winners.winner)) { %>
            <h2>Contest Winner!</h2>
            <% } else if (story._id.equals(contest.winners.runnerUp)) { %>
            <h2>Contest Runner Up!</h2>
            <% } else if (story._id.equals(contest.winners.popular)) { %>
            <h2>The Most Popular Story for this Contest!</h2>
            <% } } %>
            <%- include("story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
        <p>
            There aren't any stories for this contest yet.
            <% if (contest.status == "open") { %>
            Would you like to <a href="/contests/<%= contest.tag %>/stories/new">create one?</a>
            <% } %>
        </p>
    <% } %>
</div>

<%- include("../partials/footer") -%>