<%- include("../partials/header") -%>

<div class="container">
    <h1><%= query.length > 0 ? `Story search results for "${query}"` : "View all Stories" %></h1>
    <% if (stories.length > 0) { %>
    <div class="row row-1 row-sm-2 row-md-3">
        <% stories.forEach(function(story) { %>
        <div class="col">
            <%- include("../partials/story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p><%= query.length > 0 ? `Your search for "${query}" returned no results` : "There aren't any stories yet!" %></p>
    <% } %>
</div>

<%- include("../partials/footer") -%>