<%- include("../partials/header") -%>

<div class="container">
    <h1><%= query.length > 0 ? `Story search results for "${query}"` : "View all Stories" %></h1>
    <% if (stories.length > 0) { %>
    <% stories.forEach(function(story) { %>
    <div>
        <h3><a href="/contests/<%= story.contest.tag %>/stories/<%= story._id %>"></a><%= story.title %></h3>
        <p><%= story.description %></p>
        <p>Contest: <a href="/contests/<%= story.contest.tag %>"><%= story.contest.tag %></a></p>
        <p>Created by: <a href="/profile/<%= story.author.username %>"><%= story.author.username %></a></p>
    </div>
    <% }); %>
    <% } else { %>
    <p>> No results</p>
    <% } %>
</div>

<%- include("../partials/footer") -%>