<%- include("../partials/header") -%>

<div class="container">
    <h1><%= story.title %></h1>
    <p class="text-light-gray">
        Created by <a href="/profile/<%= story.author.username %>"><%= story.author.username %></a>
        <%= moment(story.createdAt).fromNow() %> at the <strong><a href="/contests/<%= contest.tag %>"><%= contest.title %></a></strong> contest.
    </p>
    <p>
        <i class="fas fa-thumbs-up"></i> <span class="badge badge-light"><%= story.votes.length %></span>
    </p>
    <div>
        <p>
            <strong>Description:</strong> <%= story.description %>
        </p>
        <p>
            Click <a href="<%= story.link %>">here</a> to view the story
        </p>
        <div>
            <% if (story.voted) { %>
            <button class="btn btn-info" disabled>Voted!</button>
            <% } else if (user) { %>
            <form action="/contests/<%= contest.tag %>/stories/<%= story._id %>/vote" method="POST" class="d-inline">
                <button class="btn btn-info" type="submit">Vote Up!</button>
            </form>
            <% } else { %>
            <a href="/register" class="btn-btn-info">Sign Up to Vote!</a>
            <% } if (isAdmin || (user && user.username == story.author.username)) { %>
            <% if (user.username == story.author.username) { %>
            <a class="btn btn-warning" href="/contests/<%= contest.tag %>/stories/<%= story._id %>/edit">Edit Story</a>
            <% } %>
            <form action="/contests/<%= contest.tag %>/stories/<%= story._id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">
                    Delete Story
                </button>
            </form>
            <% } %>
        </div>
        <div class="story-box bg-black p-3 my-3">
            <% if (typeof storyData == "string" && storyData == "error") { %>
            <h3 class="text-danger m-0">Error retrieving story data, make sure link is valid.</h3>
            <% } else { %>
            <h2>Story: <%= storyData.title %></h2>
            <p>
                Created by <strong>
                    <a href="/profilelink/aid/<%= storyData.user.username %>"><%= storyData.user.username %></a>
                </strong>
                <%= moment(storyData.createdAt).fromNow() %>
            </p>
            <% storyData.story.forEach(function(text) { %>
            <% if (text.type == "output") { %> 
            <p class="story-output"><%= text.value %></p>
            <% } else { %>
            <p class="story-input"><i class="fas fa-arrow-right"></i> <%= text.value %></p>
            <% } %>
            <% }); %>
            <% } %>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>