<div class="card bg-black m-1">
    <div class="card-header">
        This contest is 
        <span class="badge badge-<%= statusToBootstrap(contest.status) %>">
            <%= contest.status %>
        </span>
        right now
    </div>
    <div class="card-body">
        <h4 class="card-title"><%= contest.title %></h4>
        <h6 class="card-subtitle text-muted mb-1">
            Created by
            <a href="/profile/<%= contest.creator.username %>">
                <%= contest.creator.username %>
            </a>
        </h6>
        <p class="mb-2 text-muted">
            <%= contest.openingDate ? moment(contest.openingDate).format("dddd, MMMM Do") : "Unknown" %> &mdash;
            <%= contest.closingDate ? moment(contest.closingDate).add(1, "day").format("dddd, MMMM Do") : "Unknown" %>
        </p>
        <p class="card-text"><%= contest.description %></p>
        <a href="/contests/<%= contest.tag %>/" class="btn btn-primary my-1">
            View Contest!
        </a>
        <% if (contest.status == "open") { %>
        <a href="/contests/<%= contest.tag %>/stories/new" class="btn btn-success my-1">Submit a story!</a>
        <% } %>
        <% if (isJudge && contest.status == "judging") { %>
        <a href="/contests/<%= contest.tag %>/judge" class="btn btn-info my-1">Judge Contest</a>
        <% } %>
        <% if (isAdmin) { %>
        <a href="/contests/<%= contest.tag %>/manage" class="btn btn-warning my-1">
            Edit Contest
        </a>
        <a href="/contests/<%= contest.tag %>/delete" class="btn btn-danger my-1">
            Delete Contest
        </a>
        <% } %>
    </div>
</div>