<%- include("../partials/header") -%>

<div class="container">
    <h1>Manage the contest here!</h1>
    <div>
        <h2>General</h2>
        <a href="/contests/<%= contest.tag %>" class="btn btn-primary btn-lg mb-1">Visit the contest!</a>
        <a href="/contests/<%= contest.tag %>/stories" class="btn btn-secondary btn-lg mb-1">View the stories</a>
        <% if (contest.status == "judging") { %>
        <h2>Judging</h2>
        <a href="/judge/contests/<%= contest.tag %>" class="btn btn-info btn-lg mb-1">Judge the contest</a>
        <a href="/judge/contests/<%= contest.tag %>/finalize" class="btn btn-success btn-lg mb-1">Declare the Winners</a>
        <% } %>
        <h2>Actions</h2>
        <a href="/contests/<%= contest.tag %>/edit" class="btn btn-warning btn-lg mb-1">Edit the details</a>
        <form action="/contests/<%= contest.tag %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger btn-lg mb-1">Delete Contest</button>
        </form>
        <h2>Status <span class="badge badge-<%= statusToBootstrap(contest.status) %>"><%= contest.status %></span></h2>
        <% if (contest.status == "judging") { %>
        <a href="/judge/contests/<%= contest.tag %>/finalize" class="btn btn-success btn-lg mb-1">Close the Contest</a>
        <% } else if (contest.status == "closed") { %>
        <a href="/contests/<%= contest.tag %>/status/judging" class="btn btn-success btn-lg mb-1">Judge the Contest</a>
        <% } if (contest.status == "pending") { %>
        <a href="/contests<%= contest.tag %>/status/open" class="btn btn-primary btn-lg mb-1">Accept Contest and Open</a>
        <a href="/contests/<%= contest.tag %>/status/hidden" class="btn btn-secondary btn-lg mb-1">Accept Contest but keep Hidden</a>
        <% } else if (contest.status != "hidden") { %>
        <a href="/contests/<%= contest.tag %>/status/hidden" class="btn btn-secondary btn-lg mb-1">Hide Contest</a>
        <% } else { %>
        <a href="/contests/<%= contest.tag %>/status/open" class="btn btn-success btn-lg mb-1">Open the Contest</a>
        <% } %>
    </div>
    
</div>

<%- include("../partials/footer") -%>