<%- include("../partials/header") -%>

<div class="container">
    <h1>Manage the contest here!</h1>
    <div>
        <a href="/contests/<%= contest.tag %>" class="btn btn-primary btn-sm">Visit the contest!</a>
    </div>
    <p>
        <small class="text-muted">Make sure you save changes before leaving!</small>
    </p>
    <form action="/contests/<%= contest.tag %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= contest.title %>" placeholder="Contest Title" required>
        </div>
        <div class="form-group">
            <label for="tag">Tag</label>
            <input type="text" class="form-control" id="tag" name="tag" value="<%= contest.tag %>" placeholder="Contest Tag" aria-describedby="tagHelp" readonly>
            <small id="tagHelp" class="form-text text-muted">
                You can't change the tag because it is tied to stories associated with it, and theParadox42 is to lazy to update every single one of those stories, in case of an emergency, contact <a href="mailto:contact@paradox42.tech">theParadox42</a>
            </small>
        </div>
        <div class="form-group">
            <label for="contestDescription">Contest Description</label>
            <input type="text" name="description" id="contestDescription" class="form-control" value="<%= contest.description %>" required>
        </div>
        <div class="form-group">
            <label for="closeDate">Closing Date</label>
            <% var closed = moment(contest.closeDate).isBefore(Date.now()) %>
            <input type="date" name="closingDate" class="form-control" aria-describedby="dateHelp" value="<%= moment(contest.closeDate).format('YYYY-MM-DD') %>" <%= closed ? 'readonly' : 'required' %>>
            <small id="dateHelp" class="form-text text-muted">
                <%= closed ? "Closing date cannot be changed once it is closed" : "Submissions and changes to the closing date cannot be made after this date" %>
            </small>
        </div>
        <div class="form-group">
            <label for="prompt">Contest Prompt</label>
            <textarea class="form-control" name="prompt" rows="4" id="prompt" placeholder="Enter the prompt in here" required><%= contest.prompt %></textarea>
        </div>
        <div class="form-group">
            <label for="status">Contest Status</label>
            <select class="form-control" name="status" id="status">
                <% if (closed) { %>
                <option value="judging" <%= contest.status == 'judging' ? 'selected' : undefined %>>
                    Judging
                </option>
                <option value="closed" <%= contest.status == 'closed' ? 'selected' : undefined %>>
                    Closed
                </option>
                <% } else { %>
                <option value="hidden" <%= contest.status == 'hidden' ? 'selected' : undefined %>>
                    Hidden
                </option>
                <option value="open" <%= contest.status == 'open' ? 'selected' : undefined %>>
                    Open
                </option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
</div>

<%- include("../partials/footer") -%>