<%- include("../partials/header") -%>

<div class="container">
    <h1 class="text-white">
        Contest: <strong><%= contest.title %>!</strong>
    </h1>
    <div>
        <span class="badge badge-<%= statusToBootstrap(contest.status) %>"><%= contest.status %></span>
        <span class="text-light-gray">
            <%= contest.openingDate ? moment(contest.openingDate).format("dddd, MMMM Do") : "Unknown" %> &mdash;
            <%= contest.closingDate ? moment(contest.closingDate).format("dddd, MMMM Do") : "Unknown" %>
        </span>
    </div>
    <h3>Description</h3>
    <div class="text-light-gray">
        <%= contest.description %>
    </div>
    <h3>Prompt</h3>
    <small class="text-muted">Use this to start your stories</small>
    <code class="container-fluid d-block bg-black my-3 p-2 rounded">
        <%= contest.prompt %>
    </code>
    <a class="btn btn-lg mb-1 btn-primary" href="/contests/<%= contest.tag %>/stories">View Stories</a>
    <% if (contest.status == "open") { %>
    <a class="btn btn-lg mb-1 btn-success" href="/contests/<%= contest.tag %>/stories/new">Publish a story!</a>
    <% } if (isAdmin) { %>
    <a class="btn btn-lg mb-1 btn-warning" href="/contests/<%= contest.tag %>/manage">Manage Contest</a>
    <a class="btn btn-lg mb-1 btn-danger" href="/contests/<%= contest.tag %>/delete">Delete Contest</a>
    <% } if(isJudge && contest.status == "judging") { %>
    <a class="btn btn-lg mb-1 btn-info" href="/contests/<%= contest.tag %>/judge">Judge Submissions</a>
    <% } %>
</div>

<%- include("../partials/footer") -%>