<%- include("../partials/header") -%>

<div class="container">
    <h1>Contest <%= contest.title %>!</h1>
    <h3>Description</h3>
    <div>
        <%= contest.description %>
    </div>
    <h3>Prompt</h3>
    <h5>Use This to Start Your Stories</h5>
    <code class="container-fluid d-block bg-black">
        <%= contest.prompt %>
    </code>
    <a class="btn btn-lg btn-primary" href="/contests/<%= contest.tag %>/stories">
        View Posted Stories
    </a>
    <a class="btn btn-lg btn-success" href="/contests/<%= contest.tag %>/stories/new">
        Publish a story!
    </a>
    <% if (isAdmin) { %>
    <a class="btn btn-lg btn-warning" href="/contests/<%= contest.tag %>/manage">Manage Contest</a>
    <form action="/contests/<%= contest.tag %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-lg btn-danger">
            Delete Contest
        </button>
    </form>
    <% } if(isJudge && contest.status == "judging") { %>
    <a class="btn btn-lg btn-info" href="/contests/<%= contest.tag %>/judge">Judge Submissions</a>
    <% } %>
</div>

<%- include("../partials/footer") -%>