<%- include("../partials/header") -%>

<div class="container">
    <h1>Judge Stories for contest <strong>"<%= contest.title %>"</strong></h1>
    <h5 class="text-muted">
        <%= stories.judged.length %> out of <%= stories.unjudged.length + stories.judged.length %> stories judged
    </h5>
    <div class="mb-2">
        <a href="/contests/<%= contest.tag %>" class="btn btn-primary">View Contest</a>
        <a href="/judge/contests" class="btn btn-info">Go Back to Contests</a>
    </div>
    <h4>Stories You Haven't Judged</h4>
    <% if (stories.unjudged.length > 0) { %>
    <div class="row">
        <% stories.unjudged.forEach(function(story) { %>
        <div class="col-12 col-lg-6">
            <% story.judgingMode = true; %>
            <%- include("../stories/story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>There aren't any stories you haven't judged!</p>
    <% } %>
    <h4 class="my-2">Stories You've Judged</h4>
    <% if (stories.judged.length > 0) { %>
    <div class="row">
        <% stories.judged.forEach(function(story) { %>
        <div class="col-12 col-lg-6">
            <% story.judgingMode = true; %>
            <%- include("../stories/story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>You haven't judged any stories yet!</p>
    <% } %>
</div>

<%- include("../partials/footer") -%>