<%- include("../partials/header") -%>

<div class="container">
    <h1>Judge Stories</h1>
    <h5 class="text-muted"><%= stories.judged.length %> out of <%= stories.unjudged.length + stories.judged.length %> stories judged</h5>
    <h4>Stories not yet judged</h4>
    <% if (stories.unjudged.length > 0) { %>
    <div class="row">
    <% stories.unjudged.forEach(function(story) { %>
    <div class="col-12 col-lg-6">
        <% story.hasJudgeButton = true; %>
        <%- include("../stories/story-card", { story: story }) -%>
    </div>
    <% }); %>
    </div>
    <% } else { %>
    <p>There are no unjudged stories!</p>
    <% } %>
    <h4 class="my-2">Stories already Judged</h4>
    <% if (stories.judged.length > 0) { %>
    <div class="row">
        <% stories.judged.forEach(function(story) { %>
        <div class="col-12 col-lg-6">
            <% story.hasJudgeButton = true; %>
            <%- include("../stories/story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <p>There are no judged stories!</p>
    <% } %>
</div>

<%- include("../partials/footer") -%>