<%- include("../partials/header") -%>

<div class="container">
    <h1>Profile for "<%= profile.username %>"</h1>
    <h4>
        <% profile.roles.forEach(function(role) { %>
            <span class="badge badge-<%= statusToBootstrap(role) %>">
                <%= role %>
            </span>
        <% }); %>
    </h4>
    <% if (isAdmin) { %>
    <a class="btn btn-warning btn-sm" href="/profile/<%= profile.username %>/manage">Manage User</a>
    <% } if (isAdmin || (user && user.username == profile.username)) { %> 
    <a href="/profile/<%= profile.username %>/delete" class="btn btn-danger btn-sm">Delete Account</a>
    <% } %>
    <h3>Stories!</h3>
    <% if (profile.stories.length > 0) { %>
    <div class="row">
        <% profile.stories.forEach(function(story) { %>
        <div class="col-12 col-lg-6 mb-2">
            <%- include("../stories/story-card", { story: story }) -%>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <div>This user has no stories!</div>
    <% } %>
</div>

<%- include("../partials/footer") -%>